@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');



.homePage{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    /* background-color: rgb(225, 237, 243); */
    background-color:white;
    height: 100%;
    
    
}

.containerTop{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}

.postLayout{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .homepageheader{
    
   display: flex;
   justify-content:space-around;
   background-color: white;
   align-items: center;
} */

.homepageheader h3{
    font-weight: 700;
    color: gray;
}
.post{
     
     height:350px ;
     
     margin:5px;
     padding:20px;
     background-color:#F4F3EE;
     
     /* border: solid 1px silver; */
     border-radius: 10px;
     -webkit-box-shadow: 0px 0px 15px -7px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 15px -7px rgba(102,102,102,1);
     box-shadow: 0px 0px 15px -7px rgba(102,102,102,1);
     

}



.postHeader{
    display: flex;
    align-items: center;
}
.avatar{
    margin-right: 10px;
}

.postContent{
    padding: 10px;
}

.homepageheader h3{
    padding-right: 500px;
    padding-top: 10px;
}

/* .categories{
    background-color: skyblue;
} */

.newQuestionButton{
    width: 700px;
    height: 30px;
    box-sizing: border-box;
    margin: 0;
    margin-top:5px;
}

/* .askQuesitonSearch{
   
} */