.askInput{
    width: 900px;
    padding-bottom:150px;
    font-size:30px;
    
}


.btn-primary {
 border-radius:50px;
 font-family:Montserrat, sans-serif ;
}



.btn-secondary{
    border-radius:50px;
    font-family:Montserrat, sans-serif ;
}

 li{
    padding-right: 100px;
}