
*{

    margin: 0;
    font-family: sans-serif;
    padding: 0;
   

}

.mainPhoneNumber{
    display:flex;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   transform: translate(-50%, -50%);
   text-align: left;
   left: 50%;
   top: 50%;
   width: 40%;
 }
 
 
 .headerPhoneNumber{
       margin-bottom: 100px;
 }










/* .main{
    
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;   
    
}

h4{
    text-align:left;
}
h7{
    color: silver;
    padding-bottom:40px;
    
    text-align: left;
}
.input{
    margin-top:100px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border:none;
    border-bottom:solid 2px grey;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: grey;
    
}
.input:focus{
    border-bottom: solid 2px  #007bff;
    outline: none;
}


.buttonNext{
    width:100%;
    margin-top: -10px;
   
    
} */

